// Colors
$color-purple: rgba(170, 86, 255, 0.715);
$color-purple-solid: #AA56FF;
$color-purple-solid-dark: rgb(99, 0, 199);
$color-purple-dark: #110529;
$color-white: #fff;
$color-black: #000;
$color-base-font: #707070;
$color-off-white: #f7f7f7;
$color-blue: #1B94FB;
$color-light-blue: #b9ccfd;
$color-blue-dark: #5643fa;
$color-green-light: #00ffd0;
$color-pink: #ff0790;
$color-pink-dark: #ad005f;
$color-light-grey: #eee;

//Grid Values
$grid-width: 114rem;
$column-space: 6rem;
$row-space: 4rem;
$row-space-small: 3.5rem;

// Font
$font-size-default: 1.6rem;