.portfolio-section {
    background-color: $color-off-white;
    padding: 20rem 0 15rem 0;
    margin-top: -10rem;

    @include responsive(tablet-portrait) {
        padding: 15rem 0 10rem 0;
    }
}
.prices-section {
    background-color: $color-off-white;
    padding: 20rem 0 15rem 0;
    margin-top: -10rem;

    @include responsive(tablet-portrait) {
        padding: 15rem 0 10rem 0;
    }
}

.btn {
    &:link,
    &:visited {
        text-decoration: none;
        text-transform: uppercase;
        padding: 1rem 2.5rem;
        position: relative;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s;
        font-size: $font-size-default;
    }

    &:hover {
        transform: translateY(-.3rem);
        box-shadow: 0 1rem 2.1rem rgba($color-black, 0.8);

        &::after {
            transform: scaleX(1.2) scaleY(1.1);
            opacity: 0;
        } 
    } 

    &:active {
        transform: translateY(-.1rem);
        box-shadow: 0 .5rem 1.1rem rgba($color-black, 0.8);
    } 

    &--light {
        background-color: $color-white;
        color: $color-purple-dark;

        &::after {
            background-color: $color-white;
        } 
    }

    &--light {
        background-color: $color-white;
        color: $color-purple-dark;

        &::after {
            background-color: $color-white;
        } 
    }

    &--purple {
        background-image: linear-gradient(to right, $color-purple-solid, $color-purple-dark);
        color: $color-white;

        &::after {
            background-image: linear-gradient(to right, $color-purple-solid, $color-purple-dark);;
        } 
    }

    &--pink {
        background-image: linear-gradient(to right, $color-pink, $color-pink-dark);
        color: $color-white;

        &::after {
            background-image: linear-gradient(to right, $color-pink, $color-pink-dark);;
        } 
    }

    &--blue {
        background-image: linear-gradient(to right, $color-blue, $color-blue-dark);
        color: $color-white;

        &::after {
            background-image: linear-gradient(to right, $color-blue, $color-blue-dark);;
        } 
    }

     &::after {
        content: "";
        display: inline-block;
        width: 100%;
        height: 100%;
        border-radius: 10rem;
        transition: all .4s;
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
    } 

     &--animated {
        animation: fadeInBottom .5s ease-in .5s;
        animation-fill-mode: backwards;
    } 
}

.btn-text {
    &:link,
    &:visited {
        font-size: $font-size-default;
        color: $color-purple-dark;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-purple-dark;
        padding: 3px;
        transition: all .2s;
    }

    &:hover {
        background-color: $color-purple-dark;
        color: $color-blue;
        box-shadow: 0 1rem 2.5rem rgba($color-black,.2);
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: 0 .5rem 1rem rgba($color-black,.2);
        transform: translateY(0);
    }
}