.navigation {
    &__button {
        background-color: $color-purple-dark;
        box-shadow: 0 1rem 3rem rgba($color-black, .2);
        height: 7rem;
        width: 7rem;
        position: absolute;
        top: 5.5rem;
        right: 5.5rem;
        border-radius: 50%;
        z-index: 102;
        text-align: center;
        cursor: pointer;

        @include responsive(tablet-portrait) {
            top: 3rem;
            right: 3rem;
        }

        @include responsive(phone) {
            top: 2rem;
            right: 2rem;
        }
    }
    &__checkbox {
        display: none;
    }
    &__background {
        z-index: 100;
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: absolute;
        top: 6rem;
        right: 6rem;
        background-image: radial-gradient($color-purple-solid, $color-purple-dark);
        transition: transform .8s;

        @include responsive(tablet-portrait) {
            top: 3.5rem;
            right: 3.5rem;
        }

        @include responsive(phone) {
            top: 2.5rem;
            right: 2.5rem;
        }

    }
    &__nav {
        height: 101vh;
        width: 0;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        opacity: 0;
        transition: all .8s ;
    }
    &__list {
        @include positionAbsoluteCenter;
        list-style: none;
        text-align: center;
        margin-left: 0;
    }
    &__item {
        margin: 1rem;
    }
    &__link {
        &:link,
        &:visited {
            display: block;
            font-size: 3rem;
            font-weight: 300;
            color: $color-white;
            padding: 1rem 2rem;
            text-transform: uppercase;
            text-decoration: none;
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
            background-size: 230%;
            transition: all .4s;
        }
        &:hover,
        &:active {
            background-position: 100%;
            color: $color-purple-solid;
            transform: translateX(1rem);
        }

    }

    // Functionality
    &__checkbox:checked ~ &__background {
        transform: scale(75);
    }

    &__checkbox:checked ~ &__nav {
        opacity: 1;
        width: 100%;
    }

    //Icon
    &__icon {
        position: relative;
        margin-top: 3.5rem;

        &,
        &::before,
        &::after {
            width: 3rem;
            height: 2px;
            background-color: $color-white;
            display: inline-block;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            transition: all .2s;
        }

        &::before { top: -.8rem; }
        &::after { top: .8rem; }
    }

    &__button:hover &__icon::before {
        top: -1rem;
    }

    &__button:hover &__icon::after {
        top: 1rem;
    }

    &__checkbox:checked + &__button &__icon {
        background-color: transparent;
    }

    &__checkbox:checked + &__button &__icon::before {
        top: 0;
        transform: rotate(135deg);
    }

    &__checkbox:checked + &__button &__icon::after {
        top: 0;
        transform: rotate(-135deg);
    }
}