@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');

body {
    color: $color-base-font;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.7;
  }
  
  .primary-heading {
    backface-visibility: hidden;
    text-transform: uppercase;
    white-space: nowrap;
  
    &--main {
  
      @include responsive(phone) {
        font-size: 5rem;
        letter-spacing: 1rem;
      }
  
      @include responsive(small-phone) {
         font-size: 4rem;
         letter-spacing: .5rem;
      }
  
      animation: fadeInRight 1s ease-out;
      display: block;
      font-size: 6rem;
      font-weight: 400;
      letter-spacing: .9rem;
    }
  
    &--sub {
      @include responsive(tablet-small) {
        font-size: 1.4rem;
        letter-spacing: .8rem;
      }
      @include responsive(phone) {
        letter-spacing: .6rem;
      }
      @include responsive(medium-phone) {
        letter-spacing: .38rem;
      }
      @include responsive(small-phone) {
         letter-spacing: .2rem;
         font-size: 1rem;
      }
      
      animation: fadeInLeft 1s ease-out;
      display: block;
      font-size: $font-size-default;
      font-weight: 400;
      letter-spacing: 1rem;
      margin-bottom: 2.5rem;
    }
  }
  
  .secondary-heading {
      font-size: 3.5rem;
      text-transform: uppercase;
      font-weight: 700;
      display: inline-block;
      background-image: linear-gradient(to right, $color-purple-solid, $color-purple-dark);
      -webkit-background-clip: text;
      color: transparent;
      letter-spacing: .2rem;
      transition: all .2s;
  
      &--pink {
          background-image: linear-gradient(to right, $color-pink, $color-pink-dark);
      }
  
      &--blue {
          background-image: linear-gradient(to right, $color-blue, $color-blue-dark);
      }
  
      @include responsive(tablet-portrait) { 
          font-size: 3rem;
      }
  
      @include responsive(phone) { 
          font-size: 2.5rem;
      }
  
      &:hover {
          text-shadow: .5rem 1rem 2rem rgba($color-black,.2);
          transform: skewY(1deg) skewX(10deg) scale(1.1);
      }
  }
  
  .tertiary-heading {
      font-size: $font-size-default;
      font-weight: 700;
      text-transform: uppercase;
  }
  
  .paragraph {
      font-size: $font-size-default;
  
      &:not(:last-child) {
          margin-bottom: 3rem;
      }
  }
  
  .logo {
      font-size: 5rem;
      font-weight: 900;
      -webkit-text-stroke: 1.5px $color-purple-solid-dark;
      color: #debdff;
      text-shadow: 1px 1px 2px $color-black, 0 0 25px $color-blue-dark, 0 0 10px $color-blue-dark;
  }